In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('milan_houses_train.csv')
print(data.shape)

(10012, 24)

In [3]:
data.head()

,id,Ad date,Address,Air conditioning,Balcony,Bathrooms,Condition,Floor,Floor area,Furniture,...,Lift,Monthly charges,Price,Property type,Ref.,Rental income,Rooms,Terrace,Total floors,Zone
0,aca03e28682e424f8886f8f2880cb3c1,7/8/2019,Milano,NaN,Yes,2,excellent/refurbished,1,55m²,Partly Furnished,...,NaN,50 € mensili,250,whole estate,AP250,NaN,2,NaN,4.0,"Famagosta, Barona"
1,a2a207aff0af4bb6a6f2b5aa511867d4,10/6/2019,"Via Valle Antrona 1, Milano",NaN,NaN,1,to be refurbished,2,86m²,NaN,...,NaN,120 € mensili,138,NaN,NaN,NaN,2,NaN,2.0,"Bisceglie, Baggio, Olmi"
2,b8038f6bb10a47d0b9e8773f32a75cea,15/04/2019,"Via Luigi Angeloni 33, Milano",Yes,Yes,1,excellent/refurbished,1,58m²,Unfurnished,...,Yes,150 € mensili,129,whole estate,26480 (1304),NaN,2,NaN,4.0,NaN
3,287243aa6601444685516f2d5a3b6156,5/6/2019,"Via Enrico Sertoli, Milano",NaN,Yes,2,excellent/refurbished,2,90m²,Unfurnished,...,Yes,NaN,228,whole estate,NaN,NaN,3,Yes,2.0,"Affori, Bovisa"
4,335e2f47d0f84f58bd06fa63115d451d,19/07/2019,"Via Monfalcone 23, Milano",NaN,NaN,1,buono / abitabile,raised floor,45m²,Unfurnished,...,Yes,100 € mensili,123,whole estate,40139244,NaN,2,NaN,5.0,"Cimiano, Crescenzago, Adriano"

In [4]:
data.isnull().sum()

id                     0
Ad date                0
Address                0
Air conditioning    8070
Balcony             4320
Bathrooms            393
Condition            596
Floor                820
Floor area             3
Furniture           2639
Garage              2246
Garden              1746
Heating              503
Kitchen              722
Lift                2693
Monthly charges     2698
Price                  0
Property type       1100
Ref.                1499
Rental income       9793
Rooms                 86
Terrace             7338
Total floors         832
Zone                3959
dtype: int64

In [5]:
train = data.drop(['Air conditioning', 'Rental income', 'Terrace' ,'Ad date', 'Condition', 'Ref.', 'id',
                         'Ad date', 'Address', 'Balcony', 'Rental income', 'Terrace', 'Kitchen','Lift',
                         'Garage', 'Zone','Property type'], axis=1)

In [7]:
train.isnull().sum()

Bathrooms           393
Floor               820
Floor area            3
Furniture          2639
Garden             1746
Heating             503
Monthly charges    2698
Price                 0
Rooms                86
Total floors        832
dtype: int64

# Monthly-charges preprocessing

In [8]:
train['Monthly charges'] = train['Monthly charges'].str.replace("€ mensili" , "").astype(np.float32)

In [7]:
train['Monthly charges'].dropna(inplace=True)

In [8]:
train['Monthly charges'].dtype

dtype('float32')

In [9]:
train['Monthly charges'].isnull().sum()

0

In [10]:
train['Monthly charges'].unique()

array([ 50.        , 120.        , 150.        , 100.        ,
        70.        , 300.        , 208.        ,  40.        ,
       234.        ,   2.08299994, 500.        , 125.        ,
       275.        , 250.        ,  35.        , 417.        ,
       108.        , 210.        , 410.        , 200.        ,
       230.        , 220.        , 130.        , 583.        ,
       185.        , 750.        ,  20.        ,  80.        ,
         1.        ,  65.        , 375.        ,   1.66700006,
       475.        , 350.        , 160.        , 117.        ,
        83.        , 157.        , 180.        ,  30.        ,
       508.        , 400.        , 215.        ,  58.        ,
       175.        , 625.        , 600.        , 420.        ,
        85.        ,  92.        , 110.        ,  90.        ,
       135.        ,  60.        , 280.        ,  67.        ,
       316.        , 254.        , 550.        , 142.        ,
         2.20000005, 450.        , 240.        ,   1.29999995,
        63.        ,  91.        , 155.        , 217.        ,
        75.        , 265.        , 792.        , 330.        ,
       260.        , 299.        , 263.        , 140.        ,
       166.        , 167.        , 333.        , 225.        ,
        18.29999924, 683.        ,   2.4000001 , 290.        ,
         1.60399997, 390.        , 158.        , 359.        ,
       423.        , 183.        , 159.        , 270.        ,
       335.        ,   6.        , 258.        ,   1.25      ,
       302.        ,  15.        , 204.        , 126.        ,
       146.        , 415.        , 560.        , 598.        ,
       153.        , 950.        ,   1.5       , 708.        ,
       165.        , 320.        , 133.        ,   3.        ,
       850.        ,  55.        , 380.        , 700.        ,
       317.        , 190.        ,   2.5       ,  25.        ,
       122.        , 235.        , 233.        , 541.        ,
       540.        , 470.        , 416.        ,  10.        ,
       458.        , 139.        , 255.        , 112.        ,
       831.        ,  42.        , 917.        , 365.        ,
       680.        , 145.        , 460.        , 292.        ,
       308.        ,   1.79999995, 730.        , 833.        ,
       170.        , 360.        , 241.        ,   1.125     ,
       195.        , 650.        , 800.        ,   1.20000005,
       121.        , 192.        , 484.        , 378.        ,
        87.        , 580.        ,   1.64999998,   1.10000002,
       432.        , 116.        ,  66.        , 667.        ,
        28.        ,   6.5       , 105.        ,  96.        ,
        84.        , 288.        , 660.        , 382.        ,
         1.39999998, 115.        , 585.        , 196.        ,
       840.        , 168.        , 245.        ,   4.98000002,
       670.        ,  46.        , 305.        , 835.        ,
       430.        ,  13.        ,  79.        , 875.        ,
       109.        ,  78.        ,   3.79999995, 163.        ,
       920.        , 900.        , 119.        , 182.        ,
       915.        ,  71.        , 283.        ,  45.        ,
       271.        , 490.        , 567.        , 483.        ,
       242.        , 709.        , 391.        , 370.        ,
       171.        ,   1.56700003, 141.        , 193.        ,
       325.        ,   1.60000002, 205.        ,   1.33299994,
         8.5       , 267.        , 138.        , 442.        ,
        41.        ,   1.70000005, 834.        ,   5.30000019,
         2.79999995,   3.20000005, 340.        , 620.        ,
       184.        ,   4.5       ,   2.        , 542.        ,
       187.        , 469.        ,   1.13      , 266.        ,
       334.        ,   2.91700006,   4.        ,  73.        ,
       310.        , 975.        , 635.        , 940.        ,
       291.        ,   3.5999999 ,   0.        , 467.        ,
        48.        ,   1.89999998,  77.        , 154.        ,
       440.        , 104.        , 916.        , 480.        ,
       287.        ,  88.        , 485.        ,   5.        ,
       216.        , 279.        , 137.        , 321.        ,
         4.19999981,   1.41700006, 407.        ,   2.70000005,
        54.        , 186.        , 444.        , 558.        ,
        61.        , 583.33300781,  24.        , 188.        ,
        33.        ,  16.70000076, 209.        , 720.        ,
       818.        , 169.        ,  62.        , 733.        ,
       665.        , 134.        , 113.        , 958.        ,
       791.        , 763.        , 345.        , 112.91699982,
         7.19999981, 525.        , 389.        , 179.        ,
       144.        , 303.        , 516.        , 666.        ,
       276.        ,   1.65999997, 191.        ,  12.        ,
       406.        ,   1.15999997,   1.14999998,   2.9000001 ,
       149.        ,  18.        ,   3.29999995, 830.        ,
       433.        , 392.        , 356.        , 590.        ,
        89.        , 394.        , 449.        , 344.        ,
       384.        ,  29.        , 357.        , 492.        ,
       346.        , 970.        ,   1.33000004, 358.        ,
       546.        , 754.        ,   1.16600001, 123.        ,
        16.        , 111.        , 597.        , 372.        ,
       129.        , 403.        , 520.        , 434.        ,
       162.        , 880.        , 341.        , 366.        ,
       295.        ,   4.44999981,   1.21599996,   7.        ,
         1.16700006,  36.        ,  95.        , 383.        ,
         3.4000001 , 422.        , 227.        , 221.        ,
       156.        ,  72.        ,   2.523     ,   9.        ,
         1.04999995,   5.5       , 632.        , 595.        ,
       124.        , 761.        , 576.        , 315.        ,
         2.29999995,  22.        , 717.        ,   1.38      ,
         2.67000008,  17.        ,  64.        ,   3.5       ,
         1.85000002, 425.        , 282.        , 808.        ,
         1.08299994, 374.        , 257.        , 177.        ,
         3.70000005,  34.        ,   2.5999999 , 322.        ,
       740.        ,  52.        , 421.        , 143.        ,
       277.        ,  23.        , 238.        , 744.        ,
       675.        , 128.        , 118.        ,  21.        ,
        47.        ,   5.5999999 ,   2.0999999 , 259.        ,
       313.        , 710.        , 306.        , 847.        ,
       363.        , 338.        , 719.        ,   4.0999999 ,
       273.        , 194.        ])

# Price preprocessing

In [13]:
print(train[train['Price'] == 'Prezzosurichiesta'].shape[0])

0

In [12]:
train.drop(train.index[train['Price'] == 'Prezzosurichiesta'], inplace = True)

In [14]:
train['Price'] = train['Price'].str.replace('.', '')

In [15]:
train['Price'] = train['Price'].str.replace('permonth', '')

In [16]:
train['Price'] = train['Price'].astype(np.float32)

In [17]:
train['Price'] = np.where(train['Price'] < 1000.0, train['Price']*1000 , train['Price'])

# Floor area preprocessing

In [18]:
train['Floor area'] = train['Floor area'].str.replace("m²" , "").astype(np.float32)

In [19]:
train['Floor area'].dtype

dtype('float32')

In [20]:
train['Floor area'].isnull().sum()

2

In [21]:
train['Floor area'].dropna(inplace=True)

In [22]:
train['Floor area'].isnull().sum()

0

# Furniture preprocessing

In [23]:
train['Furniture'].unique()

array(['Partly Furnished', nan, 'Unfurnished', 'Furnished',
       'solo cucina arredata'], dtype=object)

In [24]:
train['Furniture'] = train['Furniture'].str.replace("solo cucina arredata" , "Furnished")

In [25]:
train['Furniture'].isnull().sum()

2495

In [26]:
train['Furniture'].dropna(inplace=True)

In [27]:
train['Furniture'].unique()

array(['Partly Furnished', 'Unfurnished', 'Furnished'], dtype=object)

In [29]:
train['Furniture'] = pd.get_dummies(train['Furniture'])

In [28]:
train['Furniture'].isnull().sum()

0

# Heating preprocessing

In [30]:
train['Heating'].unique()

array(['Autonomous', 'Communal', nan, 'None'], dtype=object)

In [31]:
train['Heating'].dropna(inplace=True)

In [32]:
train['Heating'].unique()

array(['Autonomous', 'Communal', 'None'], dtype=object)

In [33]:
train['Heating'].isnull().sum()

0

In [34]:
train['Heating'] = pd.get_dummies(train['Heating'])

# Floor preprocessing

In [35]:
train['Floor'].unique()

array(['1', '2', 'raised floor', '>10', '8', 'Ground floor', '7', '3',
       'last floor', nan, '4', 'multi-level', '5', '6', '9',
       'seminterrato', 'ammezzato', 'basement', '10', 'scantinato'],
      dtype=object)

In [46]:
train['Total floors'] = train['Total floors'].astype(np.float32)

In [36]:
train['Floor'] = np.where(train['Floor'] == 'last floor', train['Total floors'] , train['Floor'])

In [37]:
train['Floor'] = np.where(train['Floor'] == 'raised floor', 0.0, train['Floor'])

In [38]:
train['Floor'] = np.where(train['Floor'] == 'seminterrato', 0.0, train['Floor'])

In [39]:
train['Floor'] = np.where(train['Floor'] == 'Ground floor', 0.0, train['Floor'])

In [40]:
train['Floor'] = np.where(train['Floor'] == 'ammezzato', 1.0, train['Floor'])

In [41]:
train['Floor'] = np.where(train['Floor'] == 'multi-level', 2.0, train['Floor'])

In [42]:
train['Floor'] = np.where(train['Floor'] == 'basement', -1.0, train['Floor'])

In [43]:
train['Floor'] = np.where(train['Floor'] == 'scantinato', -1.0, train['Floor'])

In [44]:
train['Floor'] = train['Floor'].str.replace(">" , '')

In [45]:
train['Floor'].unique()

array(['1', '2', nan, '10', '8', '7', '3', '4', '5', '6', '9'],
      dtype=object)

In [47]:
train['Floor'].isnull().sum()

3815

In [48]:
train['Floor'].dropna(inplace=True)

In [50]:
train['Floor'] = train['Floor'].astype(np.float32)

In [51]:
train['Floor'].dtype

dtype('float32')

# Rooms preprocessing

In [52]:
train['Rooms'].unique()

array(['2', '3', '4', '1', '>5', '5', nan], dtype=object)

In [53]:
train['Rooms'] = np.where(train['Rooms'] == '>5', '6', train['Rooms'])

In [54]:
train['Rooms'].isnull().sum()

71

In [55]:
train['Rooms'].dropna(inplace=True)

In [56]:
train['Rooms'] = train['Rooms'].astype(np.float32)

In [57]:
train['Rooms'].dtype

dtype('float32')

# Bathrooms preprocessing

In [58]:
train['Bathrooms'].unique()

array(['2', '1', '>3', nan, '3'], dtype=object)

In [59]:
train['Bathrooms'] = np.where(train['Bathrooms'] == '>3', '4', train['Bathrooms'])

In [60]:
train['Bathrooms'].isnull().sum()

362

In [71]:
train['Bathrooms'] = train['Bathrooms'].dropna()

In [72]:
train['Bathrooms'] = train['Bathrooms'].astype(np.float32)

In [63]:
train = train.drop(['Garden'], axis=1)

In [73]:
train['Bathrooms'].isnull().sum()

362

In [64]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9533 entries, 0 to 10011
Data columns (total 9 columns):
Bathrooms          9171 non-null float32
Floor              5718 non-null float32
Floor area         9531 non-null float32
Furniture          7038 non-null float64
Heating            9073 non-null float64
Monthly charges    7059 non-null float32
Price              9533 non-null float32
Rooms              9462 non-null float32
Total floors       8744 non-null float32
dtypes: float32(7), float64(2)
memory usage: 484.1 KB

In [65]:
train

,Bathrooms,Floor,Floor area,Furniture,Heating,Monthly charges,Price,Rooms,Total floors
0,2.0,1.0,55.0,0.0,1.0,50.0,250000.0,2.0,4.0
1,1.0,2.0,86.0,NaN,0.0,120.0,138000.0,2.0,2.0
2,1.0,1.0,58.0,0.0,0.0,150.0,129000.0,2.0,4.0
3,2.0,2.0,90.0,0.0,1.0,NaN,228000.0,3.0,2.0
4,1.0,NaN,45.0,0.0,0.0,100.0,123000.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...
10007,NaN,NaN,190.0,0.0,NaN,NaN,1950000.0,5.0,NaN
10008,2.0,NaN,95.0,1.0,0.0,NaN,435000.0,3.0,6.0
10009,1.0,4.0,57.0,NaN,0.0,100.0,220000.0,2.0,6.0
10010,1.0,1.0,72.0,0.0,0.0,NaN,169000.0,2.0,3.0
10011,1.0,6.0,87.0,1.0,0.0,NaN,405000.0,2.0,8.0

# model

In [66]:
train.shape

(9533, 9)

In [67]:
train.isnull().sum()

Bathrooms           362
Floor              3815
Floor area            2
Furniture          2495
Heating             460
Monthly charges    2474
Price                 0
Rooms                71
Total floors        789
dtype: int64

In [67]:
y = train.Price
X = train.drop(['Price'], axis=1)

,Bathrooms,Floor,Floor area,Furniture,Heating,Monthly charges,Rooms,Total floors
0,2.0,1.0,55.0,0.0,1.0,50.0,2.0,4.0
1,1.0,2.0,86.0,NaN,0.0,120.0,2.0,2.0
2,1.0,1.0,58.0,0.0,0.0,150.0,2.0,4.0
3,2.0,2.0,90.0,0.0,1.0,NaN,3.0,2.0
4,1.0,NaN,45.0,0.0,0.0,100.0,2.0,5.0
...,...,...,...,...,...,...,...,...
10007,NaN,NaN,190.0,0.0,NaN,NaN,5.0,NaN
10008,2.0,NaN,95.0,1.0,0.0,NaN,3.0,6.0
10009,1.0,4.0,57.0,NaN,0.0,100.0,2.0,6.0
10010,1.0,1.0,72.0,0.0,0.0,NaN,2.0,3.0
10011,1.0,6.0,87.0,1.0,0.0,NaN,2.0,8.0

In [61]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
#y_scaled = scaler.fit_transform(train['Price'])
#y_scaled = minmax_scale(train['Price'])
X_scaled = scaler.fit_transform(X)

AttributeError: 'numpy.ndarray' object has no attribute 'dropna'

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [64]:
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(7626, 8) (1907, 8)
(7626,) (1907,)

In [65]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm
print(regressor.coef_)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').