In [44]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score
test_df = pd.read_csv("solution.csv")
submitted_df = pd.read_csv("sepide.csv")

In [45]:
submitted_df.head()

   Unnamed: 0  predicted                                    id
0           0          0  5ca46720-6bc1-4fe2-968c-edbc306dfedc
1           1          0  faa1e149-15e4-4a6c-bc5a-d8e5f81af897
2           2          0  ae2e1f78-2802-4324-8c64-26db02fb85b5
3           3          0  b5189491-5ea4-4841-bc04-755d5c1bbd85
4           4          0  7fe5d71d-b568-42cb-a6ac-e84bf3a02b77

In [46]:
merge_df = pd.merge(test_df,submitted_df,on='id')

In [47]:
merge_df["Attrition"] = merge_df["Attrition"].map({"No":0, "Yes":1})

In [48]:
merge_df.head()

                                     id  Attrition  Unnamed: 0  predicted
0  5ca46720-6bc1-4fe2-968c-edbc306dfedc          0           0          0
1  faa1e149-15e4-4a6c-bc5a-d8e5f81af897          0           1          0
2  ae2e1f78-2802-4324-8c64-26db02fb85b5          0           2          0
3  b5189491-5ea4-4841-bc04-755d5c1bbd85          0           3          0
4  7fe5d71d-b568-42cb-a6ac-e84bf3a02b77          0           4          0

In [49]:
y_true = merge_df["Attrition"].values
y_pred = merge_df["predicted"].values

In [50]:
f1_score(y_true, y_pred)

0.44776119402985076